################ Security Application Settings ######################
#from django.core.management.utils import get_random_secret_key
SECRET_KEY='HERE MUST HAVE THE SECRET KEY'

# 0-Production, 1-Dev
# DEBUG="0"
DEBUG="1"

################# Third Party Comunication #########################
FRONTEND_SERVER_URL='http:localhost:5173/'

################### Database settings ##############################
# SQLite
DATABASE_ENGINE="django.db.backends.sqlite3"
DATABASE_NAME="db.sqlite3"

# Postgres
# DATABASE_ENGINE="django.db.backends.postgresql_psycopg2"
# DATABASE_NAME="DB_name_here"
# DATABASE_USER='DB_user'
# DATABASE_PASSWORD='DB_password'
# DATABASE_HOST='localhost'
# DATABASE_PORT='5432'

# MySQL
# DATABASE_ENGINE="django.db.backends.mysql"
# DATABASE_NAME="DB_name_here"
# DATABASE_USER='DB_user'
# DATABASE_PASSWORD='DB_password'
# DATABASE_HOST='localhost'
# DATABASE_PORT='3306'
# DATABASE_CHARSET='utf8mb4'
# DATABASE_INIT_COMMAND="SET sql_mode='STRICT_TRANS_TABLES'"


# Configurações das Variáveis de Ambiente
# EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
DEFAULT_FROM_EMAIL='email@gmail.com'
EMAIL_HOST_USER='email@gmail.com'
EMAIL_HOST_PASSWORD='xxxxxxxxxxx'
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST='smtp.gmail.com'

OPENAI_API_KEY="YOUR-API-KEY"
HUGGINGFACEHUB_API_TOKEN="YOUR-API-KEY"

PER_PAGE=9
