{% load static %}

<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0">
            <img class="rounded-circle" src="{% static 'assets/geral/img/logo.png' %}" alt="" style="width: 40px; height: 40px;">
        </h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                {% if request.user.employee.image %}
                <img class="rounded-circle me-lg-2" src="{{ request.user.employee.image.url }}" alt=""
                    style="width: 40px; height: 40px;">
                {% else %}
                <img class="rounded-circle me-lg-2" src="{% static 'assets/geral/img/user.png' %}" alt=""
                    style="width: 40px; height: 40px;">
                {% endif %}
                <span class="d-none d-lg-inline-flex">{{ request.user.get_full_name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="" class="dropdown-item">Trocar Imagem de Perfil</a>
                <a href="" class="dropdown-item">Editar Dados</a>
                <a href="{% url 'accounts:logout' %}" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>

</nav>
<!-- Navbar End -->