{% load static %}
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
	<nav class="navbar bg-secondary navbar-dark">
		<a href="" class="navbar-brand mx-4 mb-3">
			<h3 class="text-primary">
				<img class="rounded-circle" src="{% static 'assets/geral/img/logo.png' %}" alt="Logo LavaBwé" style="width: 40px; height: 40px;">
				LavaBwé
			</h3>
		</a>
		<div class="d-flex align-items-center ms-4 mb-4">
			<div class="position-relative">
				{% if request.user.employee.image %}
				<img class="rounded-circle" src="{{ request.user.employee.image_url }}" alt="" style="width: 40px; height: 40px;">
				{% else %}
				<img class="rounded-circle" src="{% static 'assets/geral/img/user.png' %}" alt="" style="width: 40px; height: 40px;">
				{% endif %}
				<div
					class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
				</div>
			</div>
			<div class="ms-3">
				<h6 class="mb-0">{{ request.user.get_full_name}}</h6>
				<span>{{ request.user.employee.area}}</span>
			</div>
		</div>

		<div class="navbar-nav w-100">
			{% if request.user.is_superuser %}
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle {% if menu_page == 'accounts_manage' %}active{% endif %}" data-bs-toggle="dropdown">
					<i class="bi bi-people-fill me-1"></i>
					Gerir Usuários
				</a>
				<div class="dropdown-menu bg-transparent border-0">
					<a href="{% url 'accounts:register' %}" class="dropdown-item {% if sub_page == 'accounts_register' %}active{% endif %}" >Cadastrar Usuário</a>
					<a href="" class="dropdown-item {% if sub_page == 'user_list' %}active{% endif %}">Listar Usuários</a>
					<a href="" class="dropdown-item {% if sub_page == 'user_dashboard' %}active{% endif %}">Dashboad Usuários</a>
				</div>
			</div>
			{% endif %}

            {% if request.user.is_superuser %}
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle {% if menu_page == 'machines' %}active{% endif %}" data-bs-toggle="dropdown">
                    <i class="bi bi-archive me-1"></i>
					Gerir de Máquinas
				</a>
				<div class="dropdown-menu bg-transparent border-0">
					<a href="{% url 'machines:register' %}" class="dropdown-item {% if sub_page == 'register' %}active{% endif %}">Cadastar Máquina</a>
					<a href="{% url 'machines:list' %}" class="dropdown-item {% if sub_page == 'list' %}active{% endif %}">Máquinas</a>
				</div>
			</div>
            {% endif %}

		</div>
	</nav>
</div>
<!-- Sidebar End -->