{% extends 'base.html' %}
{% load static %}

{% block metas %}
<meta content="error, erro, não encontrada, inexistente" name="keywords">
<meta content="Página não Encontrada" name="description">
{% endblock %}
{% block title %}LavaBwé | Página não encontrada{% endblock %}

{% block local_style %}

{% endblock %}

{% block content %}
<!-- 404 Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-1 fw-bold">404</h1>
            <h1 class="mb-4">Página não encontrada</h1>
            <p class="mb-4">Pedimos desculpas, a página que solicitou não se encontra disponível ou já não é parte desta aplicação!
                Se o problema persistir contacte a equipe técnica!</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'dashboard' %}">Voltar a página inicial</a>
        </div>
    </div>
</div>
<!-- 404 End -->

{% endblock %}

{% block local_script %} {% endblock%}