{% extends 'base.html' %}
{% load static %}
{% block metas%}
<meta content="Estatisticas" name="keywords">
<meta content="Estatisticas das máquinas" name="description">
{% endblock %}


{% block title %}
Dashboard
{% endblock %}

{% block local_style %}
{% endblock %}

{% block content %}
<!-- Sign Up Start -->
<div class="container-fluid row align-items-center justify-content-center">
    <div class="row w-75 h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <h1>Hello world!</h1>
    </div>
</div>
<!-- Sign Up End -->

{% endblock %}

{% block local_script %}
{% endblock%}



