<!-- Modal -->
<div class="modal fade" id="deletar{{state.mid}}" tabindex="-1" aria-labelledby="deletar{{state.mid}}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="deletar{{state.mid}}Label">Deletar Estado Máquinas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Tens a certeza de que sejas eliminar o estado: "{{state.name}}"?
        </div>
        <form action="{% url 'machines:delete-state' state.mid %}" method="post" class="modal-footer">
            {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
      </div>
    </div>
  </div>